@model IEnumerable<ScoreClass.Web.Models.Incentivos.Voucher>

@{
	ViewData["Title"] = "Meus Vouchers";
}

<h2>Extrato de NITCOINs</h2>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.Ativo)</th>
			<th>@Html.DisplayNameFor(model => model.Codigo)</th>
			<th>@Html.DisplayNameFor(model => model.Resgatado)</th>
			<th>@Html.DisplayNameFor(model => model.Valor)</th>
			<th>@Html.DisplayNameFor(model => model.TipoValor)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Id)</td>
				<td>@Html.DisplayFor(modelItem => item.Ativo)</td>
				<td>
					<a asp-action="Voucher" asp-controller="Parceria" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Codigo)</a>
				</td>
				<td>@Html.DisplayFor(modelItem => item.Resgatado)</td>
				<td>@Html.DisplayFor(modelItem => item.Valor)</td>
				<td>@Html.DisplayFor(modelItem => item.TipoValor)</td>
			</tr>
		}
	</tbody>
</table>