@model IEnumerable<ScoreClass.Web.Models.Incentivos.Parceria>

@{
	ViewData["Title"] = "Parcerias";
}

<h2>Parcerias</h2>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Programas)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Programas.Count)
				</td>
				<td>
					<a asp-action="Fidelidade" asp-route-id="@item.Id">Ver Ofertas</a>
				</td>
			</tr>
		}
	</tbody>
</table>
