@model ScoreClass.Web.Models.Incentivos.Voucher

@{
    ViewData["Title"] = "Voucher";
}

<h2>Voucher</h2>

<div>
    <h4>Voucher</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Id)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Id)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Quantidade)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Quantidade)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Valor)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Valor)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Codigo)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Codigo)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Validade)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Validade)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.TipoValor)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.TipoValor)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Ativo)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Ativo)
		</dd>

	</dl>
</div>
<div>
	<a asp-action="Vouchers" asp-controller="PainelPais">Meus Vouchers</a><br/>
	<a asp-action="Index">Parcerias</a>
</div>
